@import url(https://fonts.googleapis.com/css?family=Comfortaa);
@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
@import url(https://fonts.googleapis.com/css?family=Pangolin);
@import url(https://fonts.googleapis.com/css?family=Rubik);

/*
yellow rgb(212, 175, 55)
gray rgb(132, 132, 130)
dark gray rgb(42, 43, 46)
*/

/* makes sure all the space in the webpage is utilized */
* {
    margin: 0px;
    padding: 0px;
}

/* mainly the background */
.whole-body {
    background: url('background.png');
    backdrop-filter: blur(5px); /* blurs the background */
    background-position: center;
    background-size: cover;
    position: relative; /* makes sure the image is centred,
    covers the whole screen, and does not distort when zooming in or out */
    width: 100%;
    height: 100%;
    /* makes sure it covers the whole screen */
}

/* navigation bar */
.navbar {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.5));
    /* adds a faded opacity gradient from top to bottom */
    display: flex;
    vertical-align: middle;
    width: auto;
    height: 125px;
}

/* navigation bar list */
.navbar ul {
    align-items: center;
	display: flex;
	list-style: none;
	float: left;
    margin: 0px;
    padding: 5px 20px;
    width: 100%;
}

/* navigation bar list */
.navbar ul li {
    float: right;
    margin-left: 20px; /* spaces the listed elements apart */
}

/* website logo */
.navbar .logo img {
    display: flex;
    float: left;
    margin-right: 675px;
    width: auto;
    height: 100px; /* changes the image size */
}

/* contacts group */
.navbar .contacts {
    display: inline-block;
    width: auto;
    height: auto;
}

/* contants button */
.navbar .contacts .contacts-heading {
    cursor: pointer; /* changes the cursor to pointer */
    border: none;
    border-radius: 15px;
    background: none;
    color: white;
	font-family: "Comfortaa";
	font-size: 18px;
    font-weight: normal;
    display: block;
    padding: 10px;
    transition: all 0.15s ease-in-out; /* smooth hover and dropdown transition */
}

/* hovered over contacts */
.navbar .contacts:hover .contacts-heading {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: white;
	color: rgb(42, 43, 46);
}

/* contacts content box */
.navbar .contacts-content {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: linear-gradient(to bottom, rgb(42, 43, 46, 0.75),rgba(42, 43, 46, 0.5));
    /* adds a faded opacity gradient from top to bottom */
    position: absolute;
    z-index: 1;
    /* position is not affected by other elements */
    transition: all 0.15s ease-in-out; /* smooth hover transition */
    opacity: 0;
    overflow-y: hidden;
    pointer-events: none;
    /* hides the content box */
}

/* hovered over contacts content box */
.navbar .contacts:hover .contacts-content {
    opacity: 1;
    pointer-events: auto;
}

/* contacts information */
.navbar .contacts-information {
    color: white;
    font-family: "Rubik";
    font-size: 16px;
    transition: all 0.25s ease-in-out; /* smooth hover transition */
    padding: 10px;
}

/* hovered over contacts information */
.navbar .contacts-information:hover {
    background-color: white;
    color: black;
}

/* khs logo */
.navbar .khslogo img {
    display: flex; /* have them inline */
    float: left; /* positions on the left side of the previous element */
    width: auto;
    height: 100px;
}

/* main body (contains the hyperlink and content boxes */
.main-body {
    display: flex; /* have them beside each other */
    margin: 20px 40px;
}

/* list */
.hyperlinks ul {
	display: block; /* have them on top of each other */
	list-style: none;
    position: fixed; /* position is fixed (will not move with scroll) */
}

/* hyperlinks */
.hyperlinks ul li a {
    backdrop-filter: blur(25px); /* blurs background to give emphasis */
    display: block; /* have them on top of each other */
    border-radius: 30px; /* rounded corners */
    background-color: rgba(42, 43, 46, 0.75);
    color: rgb(212, 175, 55);
    font-family: "Comfortaa";
	font-size: 22px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    padding-top: 55px;
    transition: all 0.15s ease-in-out; /* smooth transition when hover */
    width: 300px;
    height: 90px;
}

/* hovered over hyperlinks */
.hyperlinks ul li a:hover:not(.active) {
    backdrop-filter: blur(25px); /* blurs background to give emphasis */
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background: linear-gradient(to left, rgba(212, 175, 55, 0.75),rgba(212, 175, 55, 0.5));
    /* adds a faded opacity gradient */
    color: rgb(42, 43, 46);
    font-weight: bold; /* boldens the text for emphasis */
    width: 310px;
}

/* active hyperlinks (the current webpage) */
.hyperlinks ul li a.active {
    backdrop-filter: blur(25px); /* blurs background to give emphasis */
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background: linear-gradient(to left, rgba(212, 175, 55, 0.75),rgba(212, 175, 55, 0.5));
    /* adds a faded opacity gradient */
    color: rgb(42, 43, 46);
    font-weight: bold; /* boldens the text for emphasis */
    width: 310px;
}

/* main content box */

.main-content {
    backdrop-filter: blur(25px); /* blurs background to give emphasis */
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgba(212, 175, 55, 0.75);
    display: flex; /* to have it next to the hyperlinks */
    margin-left: 310px;
    padding: 10px 20px;
    width: 100%;
    height: 435px;
}

/* content (the text inside the content box) */
.main-content .content {
    padding: 150px 10px;
}

/* heading texts */
.main-content .heading {
    font-family: "Rock Salt";
    font-size: 28px;
    text-align: center;
}

/* paragraph texts */
.main-content .paragraph {
    font-family: "Rubik";
    font-size: 16px;
    text-align: center;
    margin: 0px 30px;
}

/* image */
.main-content #myImg {
    border: 2.5px dashed rgb(42, 43, 46);
    border-radius: 20px;
    width: 660px;
    height: 430px;
    cursor: pointer;
    transition: 0.3s;
}

/* hovered over image */
#myImg:hover {
    border: 2.5px solid rgb(42, 43, 46);
}

/* modal (background) */
.modal {
    display: none; /* hides background */
    position: fixed; /* position is fixed (will not move with scroll) */
    z-index: 1; /* sits on top of everythimg */
    padding-top: 10px;
    left: -350px;
    top: -145;
    width: 1366px;
    height: 623px;
    overflow: auto; /* enables scroll if needed */
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.85);
}

/* modal content (image) */
.modal-content {
    margin: auto;
    display: block;
    margin-top: 25px;
    width: 825px;
    height: 537.5px;
}

/* modal caption (image text)*/
#caption {
    display: block;
    color: rgb(255, 255, 255);
    font-family: "Rubik";
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

/* adds animation */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* close icon */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: bold;
    transition: 0.3s;
}

/* hovered over close icon */
.close:hover,
.close:focus {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    cursor: pointer;
}

/* 100% image width on smaller screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}